.lft {
	height: 100px;
	width: 100px;
	background-color: #30089e
}
.mid {
	height: 100px;
	width: 100px;
	background-color:  #ffffff
}
.rght {
	height: 100px;
	width: 100px;
	background-color:  #D22630
}